<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium_Hybrid_Automation">

	<listeners>
		<listener class-name="utilities.Reporting"> </listener>
	</listeners>

	<test name="Calc Test">
		<parameter name="actionType" value="launch"> </parameter>
		<classes>
			<class name="testcases.Calc_TC"> </class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->